@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.48;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal
}
*,
:after,
:before {
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear
}
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
p,
span,
textarea {
  font-family: Roboto,Arial,serif,sans-serif
}
a,
button,
form,
input,
textarea {
  border: none;
  color: #000;
  text-decoration: none
}
a:hover,
button:hover,
form:hover,
input:hover,
textarea:hover {
  cursor: pointer
}
span {
  font-size: 100%
}
img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
@font-face {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Black.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-BlackItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-BlackItalic.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Bold.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-BoldItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-BoldItalic.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Italic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Italic.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Light.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-LightItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-LightItalic.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Medium.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-MediumItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-MediumItalic.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Regular.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-Thin;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-Thin.ttf) format("truetype")
}
@font-face {
  font-family: Roboto-ThinItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fontsRoboto-ThinItalic.ttf) format("truetype")
}
html {
  scroll-behavior: smooth;
  font-size: calc(160rem + 10 * ((100vw - 20rem)/ 2560-320))
}
html.lock {
  overflow: hidden
}
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
#content {
  display: block;
  max-width: 2000px;
  margin: 0 auto
}
.anim-elem {
  -webkit-transition: opacity 1s ease-in-out,-webkit-transform 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out,transform 1s ease-in-out;
  transition: opacity 1s ease-in-out,transform 1s ease-in-out,-webkit-transform 1s ease-in-out;
  -webkit-transform: translate(0,-100%);
  -ms-transform: translate(0,-100%);
  transform: translate(0,-100%);
  opacity: 0
}
.anim-elem.active-fx {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}