* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background-color: #fff;
	/* not supported by: IE (7,8)
	 	and only partially supported by: Opera Mini (all)
	*/
	background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fklike.net%2F2997-kartinki-patrika-15-foto.html&psig=AOvVaw0w6NBTt1wu3qQIKDscBcAH&ust=1641637893204000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOC7su-3n_UCFQAAAAAdAAAAABAD);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    list-style-type: none;

    @include adaptive-value('font-size', 20, 10, 1);
    @include adaptive-value('font-size', 30, 20, 2);
	
	font-weight: 100;
	line-height: 100%;
}
a, button, input, textarea, form {
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	/*&:hover {
		cursor: pointer;
	}*/
}
span {
	font-size: 100%;
}
img {
	/* Не поддерживаеться Internet Explorer*/
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}