* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			  box-sizing: border-box;

	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	/* not supported by: IE (7,8)
	 	and only partially supported by: Opera Mini (all)
	*/
	background-image: none;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	-webkit-user-select: none;
       -moz-user-select: none;
    	-ms-user-select: none;
    		user-select: none;
    
    list-style-type: none;

    @include adaptive-value('font-size', 20, 10, 1);
    @include adaptive-value('font-size', 30, 20, 2);
	
	font-weight: 100;
	line-height: 100%;

	&,
	&:after,
	&:before {
		transition: all .3s linear 0s;
	}
}
html {
	scroll-behavior: smooth;
}
body {
	
}

a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Arial, serif, sans-serif;
}
a, button, input, textarea, form {
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	&:hover {
		cursor: pointer;
	}
}
span {
	font-size: 100%;
}
img {
	/* Не поддерживаеться Internet Explorer*/
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}