// Zer0
* {
	position: relative;
	box-sizing: border-box;
	z-index: 0;

	padding: 0;
	margin: 0;
	border: none;
	outline: none;

	background-image: none;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: padding-box;

	overflow: visible;
	overflow-wrap: normal;
	word-break: normal;

   	user-select: none;
    
   	list-style-type: none;

   	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.48;

	&,
	&:after,
	&:before {
		transition: all .3s linear 0s;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	
}

a, p, h1, h2, h3, h4, h5, h6, span, label, input, button, textarea {
	font-family: 'Roboto', Arial, serif, sans-serif;
}

a, button, input, textarea, form {
	color: #000;
	text-decoration: none;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

span {
	font-size: 100%;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}