@charset 'UTF-8';

// Размер макета
$MaketWidth: 1366;

// Максимальный поддерживаемый размер сайта
$SiteMaxWidth: 2560;

// Максимальная ширина контентного блока
$ContentMaxWidth: 1004;

// Минимальная поддерживаемая ширина
$ContentMinWidth: 320;

:root {

}

html {
	scroll-behavior: smooth;
}

@import "_mixins.css";
@import "_zer0.css";

@import "_fonts.css";

@import "_media.css";
@import "_preloader.css";

@import "_header.css";
@import "_nav.css";
@import "_article.css";
@import "_aside.css";
@import "_footer.css";



* {
	margin: 0;
	box-sizing: border-box;
	position: relative;

	&.bg_c {
		background-color: #fff;
	}
	
}

