@charset 'UTF-8';

// Размер макета
$MaketWidth: 1366;

// Максимальный поддерживаемый размер сайта
$SiteMaxWidth: 2560;

// Максимальная ширина контентного блока
$ContentMaxWidth: 1004;

// Минимальная поддерживаемая ширина
$ContentMinWidth: 320;

@import "_mixins.scss";
@import "_zer0.scss";
@import "_fonts.scss";
@import "_media.scss";
@import "_preloader.scss";

@import "_header.scss";
@import "_nav.scss";
@import "_article.scss";
@import "_aside.scss";
@import "_footer.scss";

html {
	@include adaptive-value('font-size', 20, 10, 1);
    @include adaptive-value('font-size', 30, 20, 2);
    scroll-behavior: smooth;
}

* {
	margin: 0;
	box-sizing: border-box;
	position: relative;

	&.bg_c {
		background-color: #fff;
	}
	
}

